.box-of-products{
    background-color: #276afb;
    padding: 4rem 0rem;
    cursor: pointer;
    text-align: center;
    margin: 2rem 2.5rem 3.5rem 2.5rem;
    font-size: 20px;
    color: white;
    width: 20vw;
    transition: transform 0.45s;
}

.box-of-products:hover{
    transform: scale(1.085);
}

.box-of-products > p{
    margin-bottom: 5px;
}

#icon-of-products{
    font-size: 3.5rem;
}

.choose-plan-btn-of-products{
    background-color: black;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px 0px;
    width: 75%;
    margin-top: 10px;
}

.choose-plan-btn-of-products:hover{
    color: #f00946;
}

/* media queries */
@media screen and (max-width: 1200px) {
    .box-of-products{
        width: 26vw;
    }
}

@media screen and (min-width: 750px) and (max-width: 950px) {
    .box-of-products{
        width: 32vw;
    }
}

@media screen and (max-width: 750px) {
    .box-of-products{
        width: 45vw;
    }
}

@media screen and (max-width: 560px) {
    .box-of-products{
        width: 62vw;
    }
}

@media screen and (max-width: 400px) {
    .box-of-products{
        width: 85vw;
    }
}