/* media queries */
@media screen and (max-width: 1200px) {
    .sub-container{
        grid-template-columns: repeat(2,auto) !important;
    }
}

@media screen and (max-width: 750px) {
    .sub-container{
        grid-template-columns: repeat(1,auto) !important;
    }
}

@media screen and (max-width: 560px) {
    .products-heading{
        font-size: 3.3rem !important;
    }
}